.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
.DS_Store
analysis/individual-cline-models/
GIS/
packrat/src/
analysis/figures/main-text/Inkscape_GIMP_files/
analysis/figures/supplemental/Inkscape_files/

